<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proguard Web Retrace</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="ProguardWebApp" layout="row" ng-controller="TraceCtrl" ng-cloak class="ProguardWebAppBody">


  <md-content flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" layout-fill>

    <!-- Title and toolbar -->

    <md-toolbar id="toolbar">
      <div class="md-toolbar-tools">
        <h1>
          <span>Proguard Web Retrace</span>
        </h1>
        <span flex></span>
        <md-button ng-controller="AppConfigCtrl" class="md-icon-button" aria-label="More" ng-click="showAdvanced()">
          <md-icon md-svg-icon="config"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div id="content_inside">
      <!-- Re-Trace parameters -->

      <h3>Trace Input</h3>

      <md-input-container class="md-block">
        <label>Application</label>
        <md-select ng-model="app" ng-change="reset_output();">
          <md-option ng-repeat="app in appList" value="{{app}}">{{app}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Trace</label>
        <textarea ng-model="param.trace" columns="1" rows="8" style="font-family: monospace;" ng-change="reset_output();"></textarea>
      </md-input-container>

      <div layout="row" layout-align="end">
        <md-button ng-click="retrace();"> Retrace </md-button>
      </div>

      <div ng-show="result.show">
        <h3>Retrace Output</h3>
        <md-progress-circular md-mode="indeterminate" ng-show="result.processing"></md-progress-circular>
        <md-input-container class="md-block">
          <label>Output</label>
        <textarea ng-model="result.output" columns="1" rows="10" style="font-family: monospace;"></textarea>
        </md-input-container>
      </div>

    </div>

  </md-content>

  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

  <script src="./src/TraceCtrl.js"></script>
  <script src="./src/AppConfigCtrl.js"></script>

  <script type="text/javascript">

          angular
              .module('ProguardWebApp', ['ngMaterial', 'trace', 'config'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("config"     , "./assets/svg/ic_settings_black_24px.svg"        , 24)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                  $mdThemingProvider.theme('default')
                      .primaryPalette('deep-purple')
                      .accentPalette('red');

              });

    </script>
    <!-- -->
  </body>
</html>
